@model RplpAvecBD.Model.Assignment

@{
    ViewData["Title"] = "Ajouter un travail";
    RplpAvecBD.Model.Course coursChoisi = ViewBag.coursChoisi;
}

@*<p>Model name = @Model.name</p>
<p>Model points = @Model.points</p>
<p>Model course = @Model.course</p>
<p>Model isRelease = @Model.isReleased<p>
<p>Model isVisible = @Model.isVisible</p>*@

    <div class="text-left">
        <br />
        <h2>Ajouter un travail</h2>
        <hr />

        @using (Html.BeginForm(Model))
        {
            <table>
                <thead>
                    <tr>
                        <th style="width:200px;">
                            <h6>Nom du cours</h6>
                        </th>
                        <th style="width:220px;">
                            <h6>Nom du travail</h6>
                        </th>
                        <th style="width:30px;"></th>
                        <th>
                            <h6>Points</h6>
                        </th>
                        <th style="width:30px;"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height: 15px;"></tr>
                    <tr>
                        <td>
                            @coursChoisi.name
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
                        </td>
                        <td></td>
                        <td>
                            @Html.TextBoxFor(model => model.points, new { @class = "form-control", style = "width:80px;" })
                        </td>
                        <td></td>
                        <td>
                            <input type="submit" class="btn btn-warning" id="btnAjouterFichierZIP" value="Ajouter fichier ZIP" asp-action="AjouterTravail" asp-controller="Teacher" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(m => m.points, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </tbody>
            </table>
        }


        @if (ViewBag.afficherUpLoadFichierZip && ViewBag.erreurFichierZIPIntrouvable == false)
        {
            @Html.Partial("_AjouterFichierZIP")
        }
        else if (ViewBag.afficherUpLoadFichierZip && ViewBag.erreurFichierZIPIntrouvable == true)
        {
            @Html.Partial("_ErreurFichierZIPVide")
        }

        @Html.Partial("_Retourner")

    </div>
