@model RplpAvecBD.Model.Assignment

@{
    ViewData["Title"] = "Ajouter un travail";
    RplpAvecBD.Model.Course coursChoisi = ViewBag.coursChoisi;
}

    <div class="text-left">
        <br />
        <h2>Ajouter un travail</h2>
        <hr />
        @using (Html.BeginForm())
        {
            <table>
                <thead>
                    <tr>
                        <th>
                            <h6 style="width:220px;">Nom du cours</h6>
                        </th>
                        <th>
                            <h6 style="width:220px;">Nom du travail</h6>
                        </th>
                        <th style="width:30px;"></th>
                        <th style="width:100px;">
                            <h6>Points</h6>
                        </th>
                        <th style="width:30px;"></th>
                        <th></th>
                        <th style="width:30px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height: 15px;"></tr>
                    <tr>
                        <td>
                            @coursChoisi.name
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
                        </td>
                        <td></td>
                        <td>
                            @Html.TextBoxFor(model => model.points, new { @class = "form-control" })
                        </td>
                        <td></td>
                        <td>
                            <input type="file" name="fichier" value="Upload fichier ZIP" accept=".zip" class="btn btn-light" />
                        </td>
                        <td>
                            <input type="submit" class="btn btn-success" id="btnEnregistrerTravail" value="Enregistrer" asp-controller="Teacher" asp-action="AjouterTravail" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(m => m.points, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </tbody>
            </table>
        }

        <hr />
        <div>
            <input type="button" class="btn btn-primary" id="btnReturn" value="Retourner" onclick="location.href='@Url.Action("Index", "Teacher")'" />
        </div>
    </div>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success" style="margin-top:20px">
        @ViewBag.Message
    </div>
}