@model RplpAvecBD.Model.Course;

@{
    ViewData["Title"] = "Professeur";
    List<string> listeEtudiant = ViewBag.listeEtudiant;
    int @idCoursChoisi = ViewBag.@idCoursChoisi;
}

<div class="text-left">
    <br />
    <table>
        <thead>
            <tr>
                <th style="width:340px;"></th>
                <th style="width:80px;"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h2>Assignments<strong style="font-size:20px;"> (Travaux)</strong></h2>
                </td>
                <td>
                    <a asp-controller="Teacher" asp-action="index"><img src="~/img/icon_refresh_19x19_v2.png" title="Refresh" alt="Refresh" /></a>
                </td>
                <td>
                    <a class="text-gris" asp-controller="Teacher" asp-action="AideSelectionnerCours"> Besoin d'aide ?</a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <hr />
    @using (Html.BeginForm())
    {
        <table>
            <thead>
                <tr>
                    <th>
                        <h6 style="width:270px;">Sélectionner un cours</h6>
                    </th>
                    <th style="width:10px;"></th>
                    @if (@idCoursChoisi != 0 && @listeEtudiant != null && @listeEtudiant.Count > 0)
                    {
                        <th>
                            <h6>Modifier la liste des étudiants</h6>
                        </th>
                    }
                    else if (@idCoursChoisi != 0 && @listeEtudiant != null && @listeEtudiant.Count == 0)
                    {
                        <th>
                            <h6>Ajouter la liste des étudiants</h6>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr style="height: 15px;"></tr>
                <tr>
                    <td>
                        @using (Html.BeginForm("Teacher", "index", FormMethod.Post))
                        {
                            @Html.DropDownListFor(m => m.idCoursChoisi, new SelectList(@ViewBag.listeCours, "id", "name"), "-- Selectionner un cours --", new { @class = "form-control", onchange = "this.form.submit()" })
                        }
                    </td>
                    <td></td>
                    @if (@idCoursChoisi != 0 && @listeEtudiant != null && @listeEtudiant.Count > 0)
                    {
                <td>
                    <input type="file" name="fichierCSV" id="btnModifierListeEtudiants" value="Modifier la liste des étudiants" accept=".csv" class="btn btn-light" />
                </td>
                        <td>&nbsp</td>
                        <td>
                            <input type="submit" class="btn btn-success" id="btnAjouterTravail" value="Ajouter un travail" asp-controller="Teacher" asp-action="AjouterTravail" />
                        </td>
                    }
                    else if (@idCoursChoisi != 0 && @listeEtudiant != null && @listeEtudiant.Count == 0)
                    {
                        <td>
                            <input type="file" name="fichierCSV" id="btnAjouterListeEtudiants" value="Ajouter la liste des étudiants" accept=".csv" class="btn btn-light" />
                        </td>
                    }
                </tr>
                <tr>
                    <td>
                        @Html.ValidationMessageFor(m => m.idCoursChoisi, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
    }
    <br />
    <br />
    <h6>Travaux existentes dans le cours <strong>nom du cours</strong></h6>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h6>Nom</h6>
                </th>
                <th>
                    <h6>No. travaux remis</h6>
                </th>
                <th>
                    <h6>No. travaux manquants</h6>
                </th>
                <th>
                    <h6>Date</h6>
                </th>
                <th>
                    <h6>Créé sur CodePost</h6>
                </th>
                <th>
                    <h6>Action</h6>
                </th>
                <th></th>
            </tr>
        </thead>
        @*<tbody>
                @foreach (var item in Model.Utilizateur)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.courriel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.apiKey)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>*@
    </table>

</div>