@using RPLP.MVC.Controllers
@using System.Data;
@model RPLP.MVC.Models.AllocationsViewModel;

<head>
    <meta charset="UTF-8">
</head>

<div class="container mt-3">
    <table id="allocationContent" class="table table-striped">
        <thead>
            <tr>
                <th>Repository Name</th>
                <th>Student Name</th>
                <th>Teacher Name</th>
                <th>Status</th>
            </tr>
        </thead>
        @if (Model is not null && Model.Pairs.Count > 0)
        {
            <tbody>
                @foreach (AllocationViewModel dr in Model.Pairs)
                {
                    <tr>
                        <td class="text-truncate" style="max-width: 200px;">@Html.DisplayFor(item => dr.RepositoryName)</td>
                        <td class="text-truncate" style="max-width: 200px;">@Html.DisplayFor(item => dr.StudentName)</td>
                        <td class="text-truncate" style="max-width: 200px;">@Html.DisplayFor(item => dr.TeacherName)</td>
                        @if (@dr.Status == 53)
                        {
                            <td class="text-truncate" style="max-width: 200px;"><i class="bi bi-check2"></i></td>
                        }
                        else if (@dr.Status == 53)
                        {
                            <td class="text-truncate" style="max-width: 200px;"><i class="bi bi-clock"></i></td>
                        }
                        else
                        {
                            <td class="text-truncate" style="max-width: 200px;"><i class="bi bi-x"></i></td>
                        }
                    </tr>
                }
            </tbody>
        }
    </table>
</div>



<script src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    var allocations = [];

    setInterval(function () {
        var ajaxURL = '/RPLP/Allocations/GetAllocationsInformations';

        $.ajax({
            type: 'GET',
            url: ajaxURL,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                console.log('firing ajax call');
            },
            success: function (data) {
                console.log('Success');
            },
            error: function (ex) {
                console.log('Error');
            }
        });
    }, 5000);
</script>
